.folder {
    margin-top: 6px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
    padding: 3px;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
}

.folder > span {
    margin: 0 5px 2px 0;
}

.folder-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.folder-actions, .file-actions {
    display: flex;
    gap: 5px;
}

.file {
    margin-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.file-container {
    margin-top: 5px;
    width: 300px;
    display: flex;
}

.file-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 3px;
    border-radius: 5px;
}

.folder > div > button, .folder-actions button, .file-actions button {
    font-size: 15px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 3px;
    cursor: pointer;
}

.folder-actions button:hover, .file-actions button:hover {
    background-color: #f0f0f0;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 300px;
}

.inputContainer > span {
    margin-top: 5px;
}

.inputContainer__input {
    margin: 6px 0 0 0;
    padding: 5px;
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}